body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./japan.jpg) center/cover;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.album {
  width: 350px;
  height: 350px;
  background: url(./poster.jpg) center/cover;
  border: 2px solid pink;
  position: relative;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: white;
  transition: color 1s linear;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .album {
    width: 250px;
    height: 250px;
  }

  h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 600px) {
  h2:hover {
    color: palevioletred;
  }

  .album::after {
    content: "";
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: rgb(182, 112, 123);
    position: absolute;
    z-index: -3;
    top: 0;
    transition: top 1s linear;
  }

  .album::before {
    content: "";
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid black;
    background: rgb(175, 92, 104);
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 50px;
    transition: top 1s linear;
  }

  .album:hover::after {
    top: -100px;
  }

  .album:hover::before {
    top: -50px;
  }
}
